.text-frame {
    background-color: var(--white);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 629px;
    /* height: 576px; */
}
.buttonSettings {
    background-color: rgba(58, 234, 223, 0.498);
    border-radius: 10px 10px 10px 10px;
    /* width: 100px; */
    /* height: 60px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    /* position: absolute; */
    overflow: hidden;
    /* top: 85px; */
    /* min-width: 60px; */
    margin: 50px;
}
.settingsTitle {
    font: 19px "Ubuntu", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 0px;
    /* width: 90px; */
    min-width: 90px;
    margin: 11px auto;
}