
.root {
  background-color: rgb(212, 221, 221);

}
.weatherMainBox {
  background-color: rgba(210, 248, 245, 0.498);
  border-radius: 10px 10px 10px 10px;
  height: 350px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  position: relative;
  overflow: hidden;
  min-height:350px;
  top: 75px;
}
.weatherBox {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  top: 20px;
  left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 296px;
}
.image {
  width: 233px;
  height: auto;
  aspect-ratio: 1.04;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 13px;
  left: 37px;
  min-width: 233px;
}
.medium_title {
  @include v-center-content;
  @include font-face(400 20px/1.16 "Ubuntu", Helvetica, Arial, serif, rgb(0, 0, 0), 0px);
  width: 100%;
  height: 100%;
}
.box2 {
  background-color: rgba(58, 234, 223, 0.498);
  border-radius: 10px 10px 10px 10px;
  width: 296px;
  height: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 18px;
  min-width: 296px;
}
.medium_title1 {
  @include v-center-content;
  justify-content: center;
  font: 400 24px/1.16 "Ubuntu", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
  width: 101px;
  position: relative;
  flex-grow: 1;
  min-width: 101px;
  margin: 8px auto;
}
.adminBox {
  
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  width: 63.16%;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  margin: 19px auto;
}
.buttonDaySwitchBox {
  
  background-color: rgba(58, 234, 223, 0.498);
  border-radius: 10px 10px 10px 10px;
  width: 100px;
  height: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  position: absolute;
  overflow: hidden;
  top: 85px;
  min-width: 60px;
}
.buttonDaySwitchBox2 {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  height: 80%;
  flex-grow: 1;
  margin: 6px 35px 5px;
}
.buttonsBox {
  width: 100%;
  background-color: rgba(58, 234, 223, 0.498);
  border-radius: 10px 10px 10px 10px;
  width: auto;
  height: 88px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;


}
.mainBox {
    width: 100%;
    height: 720px;
    background: rgba(212,221,221,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.buttonBox {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  width: 120px;
  height: 50px;
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.24705882352941178);
  position: absolute;
  overflow: hidden;
  top: 19px;
  min-width: 120px;
}
.buttonTitle {
  font: 19px "Ubuntu", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
  width: 90px;
  min-width: 90px;
  margin: 11px auto;
}

