<html>
<head>
    <title>Админ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/css/{{theme}}.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(93829072, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
</head>
<body class="root">
    <div class="buttonsBox col-xl">
        <div class="row">
            <form class="col-md" action="/mainRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Главная</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/informationRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Информация</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/dayFindRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Поиск дня</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/planningRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Планирование дня</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/settingsRedirect" method="get" >
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Настройки</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/logOut" method="post">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Выйти из аккаунта</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
        </div>
    </div>
</body>
<body>
<div class="row">
    <div class="col-md">
    </div>
    <div class="col-xl">
    </div>
    <div class="col-md">
        <form method="post" style="background-color: white" action="/setStep">
            <input value="{{startTableId}}" name="startTableId" hidden>
            <input value="{{endTableId}}" name="endTableId" hidden>
            <input value="{{display}}" name="display" hidden>
            <input value="{{theme}}" name="theme" hidden>
            <p2>Количество записей на странице:</p2><br>
            <select name="tableStep">
                {{#tableSteps}}
                    <option {{#selected}}selected{{/selected}} value="{{value}}">{{value}}</option>
                {{/tableSteps}}
            </select>
            <button type="submit">Применить</button>
        </form>
    </div>
</div>
<div class=" row" style="
    margin-left: 0px;
    margin-right: 0px;
">
    <div class="col-xl" style="background-color: white">
        <form method="post" action="/onButtonClick">
            <input value="{{display}}" name="display" hidden>
            <input value="{{theme}}" name="theme" hidden>
            <input value="{{startTableId}}" name="startTableId" hidden>
            <input value="{{endTableId}}" name="endTableId" hidden>
            <table class="table">
                <thead class="tableHead">
                <tr>
                    <td> </td>
                    <td>id</td>
                    <td>day</td>
                    <td>month</td>
                    <td>year</td>
                    <td>hour</td>
                    <td>T</td>
                    <td>Po</td>
                    <td>P</td>
                    <td>Pa</td>
                    <td>U</td>
                    <td>DD</td>
                    <td>WW</td>
                    <td>W1</td>
                    <td>W2</td>
                </tr>
                </thead>
                <tbody>
                {{#stats}}
                    <tr>
                        <td><input type="checkbox" value="{{id}}" name="statsId"></td>
                        <td><input class="inputAdminTable" readonly type="number" value="{{id}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{day}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{month}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{year}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{hour}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{T}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{Po}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{P}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{Pa}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="number" value="{{U}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="text" value="{{DD}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="text" value="{{WW}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="text" value="{{W1}}" name="stats"></td>
                        <td><input class="inputAdminTable" type="text" value="{{W2}}" name="stats"></td>
                    </tr>
                {{/stats}}
                </tbody>
            </table>
            <div class="row">
                <input name="tableStep" value="{{tableStep}}" hidden>
                <div class="col-xl"></div>
                <div class="col-xl"></div>
                <div class="col-md">
                    <select name="action">
                            <option value="Применить изменения">Применить изменения</option>
                            <option value="Удалить выбранное">Удалить выбранное</option>
                    </select>
                </div>
                <div class="col-md">
                    <button class="buttonTitle" type="submit">Выполнить</button>
                </div>
            </div>


        </form>
        <div class="row rowAdminTableSteps">
            <form method="post" action="/adminTablePrev" class=" col-sm">
                <input name="display" value="{{display}}" hidden>
                <input name="theme" value="{{theme}}" hidden>
                <input name="endTableId" value="{{endTableId}}" hidden>
                <input name="startTableId" value="{{startTableId}}" hidden>
                <input name="size" value="{{size}}" hidden>
                <input name="tableStep" value="{{tableStep}}" hidden>
                <button type="submit" class="buttonTitle">Назад</button>
            </form>
            <form action="/goToPage" method="post">
                <p2>
                    <input name="display" value="{{display}}" hidden>
                    <input name="theme" value="{{theme}}" hidden>
                    <input name="endTableId" value="{{endTableId}}" hidden>
                    <input name="startTableId" value="{{startTableId}}" hidden>
                    <input name="size" value="{{size}}" hidden>
                    <input name="tableStep" value="{{tableStep}}" hidden>
                    <input name="pagesSize" value="{{pagesSize}}" hidden>
                    <input name="currentPage" value="{{currentPage}}" hidden>
                    Номер страницы:<input class="inputAdminTable" name="page" type="number" value="{{currentPage}}">/{{pagesSize}}
                    <button type="submit">Перейти</button>
                </p2>
            </form>
            <form method="post" action="/adminTableNext" class=" col-sm">
                <input name="display" value="{{display}}" hidden>
                <input name="theme" value="{{theme}}" hidden>
                <input name="endTableId" value="{{endTableId}}" hidden>
                <input name="startTableId" value="{{startTableId}}" hidden>
                <input name="size" value="{{size}}" hidden>
                <input name="tableStep" value="{{tableStep}}" hidden>
                <button type="submit"  class="buttonTitle">Вперед</button>
            </form>
            <div class="col-md"></div>
        </div>
        <form method="post" action="/change">
            <table class="tableAdd">
                <thead>
                <tr>
                    <td>id</td>
                    <td>day</td>
                    <td>month</td>
                    <td>year</td>
                    <td>hour</td>
                    <td>T</td>
                    <td>Po</td>
                    <td>P</td>
                    <td>Pa</td>
                    <td>U</td>
                    <td>DD</td>
                    <td>WW</td>
                    <td>W1</td>
                    <td>W2</td>
                    <td> </td>
                </tr>
                </thead>
                <tr>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input type="number" class="inputAdminTable" name="stats"></td>
                    <td><input class="inputAdminTable" name="stats"></td>
                    <td><input class="inputAdminTable" name="stats"></td>
                    <td><input class="inputAdminTable" name="stats"></td>
                    <td><input class="inputAdminTable" name="stats"></td>
                    <td><button class="buttonTitle" type="submit">Добавить запись</button></td>
                </tr>
            </table>
            <input value="{{display}}" name="display" hidden>
            <input value="{{theme}}" name="theme" hidden>
            <input value="{{startTableId}}" name="startTableId" hidden>
            <input name="tableStep" value="{{tableStep}}" hidden>
            <input value="{{endTableId}}" name="endTableId" hidden>
        </form>
    </div>
</div>

</body>
</html>