<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/css/{{theme}}.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="root">
<div class="buttonsBox col-xl">
    <div class="row">
        <form class="col-md" action="/mainRedirect" method="get">
            <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Главная</h2></button>
            <input name="display" value="{{display}}" hidden>
        </form>
        <form class="col-md" action="/informationRedirect" method="get">
            <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Информация</h2></button>
            <input name="display" value="{{display}}" hidden>
        </form>
        <form class="col-md" action="/dayFindRedirect" method="get">
            <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Поиск дня</h2></button>
            <input name="display" value="{{display}}" hidden>
        </form>
        <form class="col-md" action="/planningRedirect" method="get">
            <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Планировка</h2></button>
            <input name="display" value="{{display}}" hidden>
        </form>
        <form class="col-md" action="/settingsRedirect" method="get" >
            <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Настройки</h2></button>
            <input name="display" value="{{display}}" hidden>
        </form>
        <form class="col-md" action="/adminRedirect" method="get">
            <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Админ</h2></button>
            <input name="display" value="{{display}}" hidden>
        </form>
    </div>
</div>
<div class="mainBox">
    <div class="row flex-wrapper-two">
        <div class="info-frame2">
            <div class="text-frame">
                <p class="info-title">Информация о сайте</p>
                <p class="info-text">
                    На нашем сайте вы можете:<br>
                    <br>
                    - Посмотреть статистику погодных наблюдений в Воронежской области за последние годы<br>
                    <br>
                    - Воспользоваться функцией поиска ближайшего дня с интересующей вас погодой.<br>
                    <br>
                    - Составить список дел на неделю, и узнать какие погодные условия наиболее вероятны в указанные вами промежутки времени.<br>
                    <br>
                    - Возможность скачать таблицы погоды<br>
                    <br>
                    Создатели сайта:<br>
                    - Тимошинов Е.Б. <br>
                    - Долгих С.В.<br>
                    - Самсонова А.Г.
                </p>
            </div>
        </div>
        <div class="image-frame">
            <!--img
                    alt=""
                    class="image-2"
                    src="https://static.overlay-tech.com/assets/0e85eb02-c6c9-4213-bd93-fc08e9926eb3.png"
            /-->
            <img alt="" class="image-2" src="/static/images/info.png">
        </div>
    </div>
</div>

</body>
</html>

