<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/css/{{theme}}.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="root">
    <div class="buttonsBox col-xl">
        <div class="row">
            <form class="col-md" action="/mainRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Главная</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/informationRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Информация</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/dayFindRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Поиск дня</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/planningRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Планировка</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/settingsRedirect" method="get" >
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Настройки</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
            <form class="col-md" action="/adminRedirect" method="get">
                <button name="theme" value="{{theme}}" class="buttonBox" ><h2 class="buttonTitle">Админ</h2></button>
                <input name="display" value="{{display}}" hidden>
            </form>
        </div>
    </div>
</body>
<body>
<div class="form">

    <form action="/login" method="post">
        <input name="username" type="text" placeholder="Username" autofocus="true"/>
        <input name="password" type="password" placeholder="Password"/>
        <div><input type="submit" value="Войти"/></div>
    </form>
</div>
</body>
</html>